body{
  background-color: #DBE9EE;
}

#root {
  max-width: min-content;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background: #166088;
  border-radius: 100rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.card_item {
  padding: 1rem;
}

.read-the-docs {
  color: #ff0000;
}

.Canvas{
  margin:auto;
  max-width: 95%;
  border-radius: 1rem;
  background-color: #758BFD;
  position: relative;
  padding-top: 50rem;
  margin-top: 2rem;
  z-index: -1;
}

.Toolbox{
  background-color: #166088;
  margin:auto;
  max-width: 95%;
  border-radius: 1rem;
  position: relative;
  padding-top: 20rem;
  margin-top: 2rem;
  z-index: -1;
}